.odf-topology__group {
    &-state--warning path.pf-topology__group__background {
        stroke: var(--pf-t--global--color--status--warning--100)
    }

    &-state--error path.pf-topology__group__background {
        stroke: var(--pf-t--global--color--status--danger--100)
    }
}

.odf-topology__group--zone > path.pf-topology__group__background {
        stroke-dasharray: 5px;
        stroke: #B8BBBE;
}
