.configure-performance-profile {
  &__content {
    flex: 1 1 auto;
    margin-top: 0;
    overflow: visible;
  }

  &__content.odf-m-pane__body + &__footer {
    flex-shrink: 0;
    border-top: none;
    padding-top: 0;
  }

  &__custom-resources-info {
    width: max-content;
    max-width: none;
    white-space: nowrap;
  }
}
