.mco-manage-policies {
    &__row--padding {
        padding: 0 0 var(--pf-global--spacer--md) 0;
    }
    &__col-padding {
        padding: 0 var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md);
    }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md);
    }
    &__dropdown--wide {
        min-width: 15rem;
    }
    &__form--width {
        width: 50%;
    }
    &__alert--margin-bottom {
        margin-bottom: var(--pf-global--spacer--xs) !important;
    }
}
