.mco-manage-policies {
    &__form--width {
        width: 50%;
    }
    &__nameValue--weight {
        font-weight: var(--pf-t--global--font--weight--body--bold)
    }
    &__alert--margin-left {
        margin-left: var(--pf-t--global--spacer--lg);
    }
}
