.mco-manage-policies {
  &__form--width {
    width: 50%;
  }

  &__nameValue--weight {
    font-weight: var(--pf-v5-global--FontWeight--bold);
  }

  &__alert--margin-left {
    margin-left: var(--pf-v5-global--spacer--lg);
  }
}
