.odf-resourceDropdown__container {
  display: inline-block;
  min-width: 20em;
}

.odf-resourceDropdownContainer__toggle--error {
  color: var(--pf-t--global--color--status--danger--100);
}

.odf-resourceDropdownHeight > div {
  max-height: 20rem;
  overflow-y: auto;
}

.odf-resourceDropdownListItems li {
  // @extend .pf-v6-c-menu__list-item !optional;
  display: var(--pf-v6-c-menu__list-item--Display);
  position: relative;
  color: var(--pf-v6-c-menu__list-item--Color);
  background-color: var(--pf-v6-c-menu__list-item--BackgroundColor);
}
