
@use '@patternfly/patternfly/sass-utilities' as pf;

.scale-capacity-breakdown-card__body {
  padding-top: 24px;
}

.scale-capacity-breakdown-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.scale-capacity-breakdown-card-header__dropdown {
  max-width: 30em;
  @media screen and (min-width: pf.$pf-v6-global--breakpoint--lg) {
    min-width: 12em;
  }
}
