@use '@odf/shared/styles/skeleton' as sk;

.odf-overview-details-card__skeleton-text {
  animation: sk.$skeleton-animation;
  background: sk.$skeleton-color;
  height: sk.$skeleton-bone-height-1line;
  opacity: 0;

  &::after {
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}

.odf-overview-details-card__text-secondary {
  color: var(--pf-v5-global--Color--200);
}
