@import '@odf/shared/styles/skeleton';

.odf-overview-details-card__item-title {
  flex-basis: 100%;
}

.odf-overview-details-card__item-value {
  flex-basis: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.odf-overview-details-card__skeleton-text {
  animation: $skeleton-animation;
  background: $skeleton-color;
  height: $skeleton-bone-height-1line;
  opacity: 0;
  &::after {
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}

.odf-overview-details-card__text-secondary {
  color: var(--pf-v5-global--Color--200);
}
