.mco-data-policies-subs-status-modal {
  &__nav {
    border-bottom: var(--pf-global--BorderWidth--sm) solid
      var(--pf-global--BorderColor--100);
    margin-right: var(--pf-global--spacer--md);
  }
  &__body {
    margin: var(--pf-global--spacer--lg) var(--pf-global--spacer--md);
  }
}
