node_modules
dist
.cache-loader
.eslintcache
coverage
cypress/cypress-a11y-report.json
gui-test-screenshots
plugins/**/package.json
plugins/**/dist
plugins/**/.cache-loader
plugins/**/cypress.config.ts
yarn-error.log
