node_modules
dist
.eslintcache
coverage
cypress/cypress-a11y-report.json
cypress/downloads
gui-test-screenshots
plugins/**/package.json
plugins/**/dist
plugins/**/cypress.config.ts
yarn-error.log
test-report.html
.vscode/launch.json

# Yarn v4 (Berry)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
