@import '@odf/shared/styles/skeleton';

.mco-dashboard {
    &__title {
        font-weight: var(--pf-c-card__title--FontWeight);
        margin-bottom: var(--pf-v5-global--spacer--xs);
    }

    &__contentRow {
        display: flex;
        flex-direction: row;
    }
  
    &__contentColumn {
        display: flex;
        flex-direction: column;
    }

    &__centerComponent {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    &__statusText--weight {
        font-weight: var(--pf-v5-global--FontWeight--bold)
    }
    &__statusText--size {
        font-size: var(--pf-v5-global--FontSize--md);
    }
    &__statusText--margin {
        margin-bottom: var(--pf-v5-global--spacer--sm);
    }
}

.mco-dashboard-loading {
    &__singleBlock {
        animation: $skeleton-animation;
        background: $skeleton-color;
        height: 35rem;
        width: 93rem;
        margin: 2rem;
    }

    &__singleBlockSmall {
        animation: $skeleton-animation;
        background: $skeleton-color;
        height: 10rem;
        width: 8rem;
        // margin: 2rem;
    }
}
