@import '../../../shared/styles/skeleton';

.mco-dashboard {
    &__title {
        font-weight: var(--pf-c-card__title--FontWeight);
        margin-bottom: var(--pf-global--spacer--xs);
    }

    &__contentRow {
        display: flex;
        flex-direction: row;
    }
  
    &__contentColumn {
        display: flex;
        flex-direction: column;
    }

    &__centerComponent {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    &__title--size {
        font-size: 1.5rem;
    }
    &__subtitle--size {
        font-size: 1.2rem;
    }
}

.mco-dashboard-loading {
    &__singleBlock {
        animation: $skeleton-animation;
        background: $skeleton-color;
        height: 35rem;
        width: 93rem;
        margin: 2rem;
    }

    &__singleBlockSmall {
        animation: $skeleton-animation;
        background: $skeleton-color;
        height: 10rem;
        width: 8rem;
        // margin: 2rem;
    }
}
