.odf-create-storage-system__header {
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid #ddd;
  padding-right: var(--pf-v5-global--spacer--lg);
  padding-left: var(--pf-v5-global--spacer--lg);
  padding-bottom: var(--pf-v5-global--spacer--md);
  padding-top: var(--pf-v5-global--spacer--lg);
}

.odf-create-storage-system__breadcrumb {
  // _overrides.scss modifies the default padding for pf breadcrumbs to be padding-top: 25px
  // Adjusting it since it takes a lot of space on thecreate system page
  padding-top: var(--pf-v5-global--spacer--sm);
}

.odf-create-storage-system-footer__alert {
  margin: 0 var(--pf-v5-global--spacer--md);
}

.odf-create-storage-system-wizard-body {
  margin: var(--pf-v5-global--spacer--4xl);

  &__error {
    color: var(--pf-v5-global--danger-color--200);
  }
}

.odf-create-storage-system-wizard > div > div {
  max-height: 66vh;
}

.odf-create-storage-system-wizard__empty-state {
  height: 100%;
}
