.nb-bs-table {
  .pf-v6-c-toolbar {
    --pf-v6-c-toolbar__content--PaddingInlineStart: 0;
  }

  .pf-v6-c-table {
    border: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--100);

    &__check {
      width: 8.333% !important;

      @media screen and (max-width: 768px) {
        width: 16.66% !important;
      }
    }
  }

  .odf-m-pane__body {
    padding: 0;
  }
}

.nb-bc-step-page-form {
  .pf-v6-c-alert.pf-m-inline.pf-m-info.co-alert {
    margin-bottom: 0;
  }
  &--margin {
    margin-bottom: var(--pf-t--global--spacer--lg);
  }
}
