.nb-bs-table {
  .pf-v6-c-toolbar {
    --pf-v6-c-toolbar__content--PaddingInlineStart: 0;
  }

  .pf-v6-c-table {
    border: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--100);
  }

  .odf-m-pane__body {
    padding: 0;
  }
}

.nb-bs-table__checkbox-col {
  width: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
}

.nb-bc-step-page-form {
  .pf-v6-c-alert.pf-m-inline.pf-m-info.co-alert {
    margin-bottom: 0;
  }
  &--margin {
    margin-bottom: var(--pf-t--global--spacer--lg);
  }
}
