.nb-bs-table {
  .pf-v5-c-toolbar {
    --pf-v5-c-toolbar__content--PaddingLeft: 0;
  }

  .pf-v5-c-table {
    border: var(--pf-v5-global--BorderWidth--sm) solid
      var(--pf-v5-global--BorderColor--100);

    &__check {
      width: 8.333% !important;

      @media screen and (max-width: 768px) {
        width: 16.66% !important;
      }
    }
  }

  .odf-m-pane__body {
    padding: 0;
  }
}

.nb-bc-step-page-form {
  .pf-v5-c-alert.pf-m-inline.pf-m-info.co-alert {
    margin-bottom: 0;
  }

  &--margin {
    margin-bottom: var(--pf-v5-global--spacer--lg);
  }
}
