.nb-ns-table {
  .pf-v6-c-toolbar {
    --pf-v6-c-toolbar__content--PaddingInlineStart: 0;
  }

  .pf-v6-c-table {
    border: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--background--color--100);

    &__check {
      width: 8.333% !important;

      @media screen and (max-width: 768px) {
        width: 16.66% !important;
      }
    }
  }

  .odf-m-pane__body {
    padding: 0;
  }
}

.nb-bc-step-page-form {
  .pf-v6-c-alert.pf-m-inline.pf-m-info.co-alert {
    margin-bottom: 0;
  }
  &--margin {
    margin-bottom: var(--pf-t--global--spacer--lg);
  }
}

// Duplicated from .ceph-ocs-install__select-nodes-table
.nb-ns__namespacestore-table {
  margin-bottom: var(--pf-t--global--spacer--md);
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: var(--pf-t--global--background--color--300)
    var(--pf-t--color--white);
  .pf-v6-c-table {
    border: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--100);
    .pf-v6-c-table__check {
      /* This overrides the default overrides of checkboxes for ocs based tables */
      width: 4.6% !important;
      @media screen and (max-width: 1620px) {
        width: 7% !important;
      }
      @media screen and (max-width: 1200px) {
        width: 10% !important;
      }
    }
  }
}
