.odf-create-lvs__alert--override {
  .pf-v6-c-alert__title {
    margin-top: 0;
  }
}

.odf-create-lvs__alert {
  margin-top: var(--pf-t--global--spacer--md);
  margin-bottom: var(--pf-t--global--spacer--md);
}

.odf-create-lvs__donut-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--pf-t--global--spacer--sm);
}

.odf-create-lvs__form {
  margin-bottom: var(--pf-t--global--spacer--md);
}
