.odf-install__chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odf-install_capacity-header {
  text-align: center;
  font-size: var(--pf-t--global--font--size--xl);
  margin-bottom: var(--pf-v6-c-wizard__main-body--PaddingBlockEnd);
}

.odf-install__stats {
  display: flex;
  font-size: var(--pf-t--global--font--size--md);
  margin-bottom: var(--pf-t--global--spacer--xs);
  text-align: center;
}

.odf-install__node-list-btn {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.odf-install_stats--divider {
  border-right: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--color--gray--20);
  height: var(--pf-t--global--font--line-height--heading);
  margin: 0 var(--pf-t--global--spacer--sm);
}

.odf-install__disk-list-btn {
  padding-top: 0;
  padding-left: 0;
}

.odf-install__lso_storageclass-donut_spinner {
  margin-top: 50%;
}
