
.odf-create-storage-client__header {
  border-bottom: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--100);
  padding-right: var(--pf-t--global--spacer--lg);
  padding-left: var(--pf-t--global--spacer--lg);
  padding-bottom: var(--pf-t--global--spacer--sm);
  padding-top: var(--pf-t--global--spacer--sm);
}

.odf-create-client__form {
    max-width: 50rem;
}
