
.odf-create-storage-client__header {
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid #ddd;
  padding-right: var(--pf-v5-global--spacer--lg);
  padding-left: var(--pf-v5-global--spacer--lg);
  padding-bottom: var(--pf-v5-global--spacer--sm);
  padding-top: var(--pf-v5-global--spacer--sm);
}

.odf-create-client__form {
  max-width: 50rem;
}
