.odf-status-popup__status {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 0.3;
  white-space: nowrap;
}

.odf-status-popup__icon {
  padding-left: var(--pf-t--global--spacer--xs);
}

.odf-status-popup__text {
  padding-left: var(--pf-t--global--spacer--sm);
}

.odf-status-popup__row {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 17rem;
  padding-bottom: var(--pf-t--global--spacer--xs);
}

.odf-status-popup__section {
  margin-top: var(--pf-t--global--spacer--md);
}

.odf-status-popup__text--bold {
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.odf-status-popup__title .odf-resource-item__resource-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
