.mco-apply-policy-modal {
  &__form {
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--sm)
      var(--pf-global--spacer--xs) var(--pf-global--spacer--sm);
  }

  &__description {
    margin-bottom: var(--pf-global--spacer--lg);
  }

  &__body {
    margin-left: var(--pf-global--spacer--xs);
    margin-right: var(--pf-global--spacer--lg);
  }

  &__alert {
    margin-bottom: var(--pf-global--spacer--xs);
    margin-top: var(--pf-global--spacer--md);
    --pf-global--FontSize--md: 13px;
  }
}
