.attachstorage__description {
    margin-bottom: var(--pf-t--global--spacer--sm);
  }
  
.storagepool-form {
  margin-top: var(--pf-t--global--spacer--md);
  margin-left: calc(var(--pf-t--global--spacer--lg) * -1);
}
.attachstorage-form {
  margin-right: var(--pf-t--global--spacer--xl);
  margin-left: var(--pf-t--global--spacer--xl);
  max-width: 80%;
}
.create-storage-pool__form {
  margin-right: var(--pf-t--global--spacer--xl);
  max-width: 80%;
}

.lso__sc-dropdown {
  width: 16rem;

  &--margin {
    margin-bottom: 1rem;
  }
}

.attachstorage-storageclass-dropdown__input {
  margin: var(--pf-t--global--spacer--lg) 0 !important;
}
