.mco-subs-dr-action-body {
  &__alert {
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--xs);
  }

  &__dropdown--width {
    width: 25rem;
  }
}

.mco-subs-dr-action__target-cluster--width {
  min-width: 19rem;
}
