.mco-create-data-policy {
  margin: var(--pf-global--spacer--lg);
  max-width: 700px;
  .pf-c-form.pf-m-limit-width {
    max-width: 33rem;
  }
}

.mco-create-data-policy__action-group {
  margin-bottom: var(--pf-global--spacer--md);
}

.mco-create-data-policy__description {
  margin-bottom: var(--pf-global--spacer--sm);
}

.mco-create-data-policy__flex {
  margin-right: var(--pf-global--spacer--lg);
  margin-bottom: var(--pf-global--spacer--md);
}

.mco-create-data-policy__dropdown {
  width: 12rem;
}

.mco-create-data-policy__alert {
  margin-bottom: var(--pf-global--spacer--xs);
  --pf-global--FontSize--md: 0.8rem;
}
