.mco-create-data-policy__body {
  margin: var(--pf-t--global--spacer--lg);
  width: 90%;
}

.mco-create-data-policy__action-group {
  margin-bottom: var(--pf-t--global--spacer--md);
}

.mco-create-data-policy__description {
  margin-bottom: var(--pf-t--global--spacer--sm);
}

.mco-create-data-policy__flex {
  margin-right: var(--pf-t--global--spacer--2xl);
  margin-bottom: var(--pf-t--global--spacer--md);
}

.mco-create-data-policy__dropdown {
  width: 12rem;
}

.mco-create-data-policy__alert {
  margin-bottom: var(--pf-t--global--spacer--xs);
  --pf-t--global--font--size--md: 0.8rem;
}

.mco-create-data-policy__text-input {
  width: 67%;
}

