.mco-select-cluster-list {
  border: 1px solid var(--pf-global--BorderColor--light-100);
  margin-top: var(--pf-global--spacer--md);
}

.mco-select-cluster-list__data-list {
  --pf-c-data-list__item--BorderBottomWidth: 0;
  max-height: 300px;
  min-height: 200px;
  overflow-y: auto;
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--md)
    var(--pf-global--spacer--md) 0;
}

.mco-select-cluster-list__filter-toolbar-item {
  width: 12rem;
}

.mco-select-cluster-list__search-toolbar-item {
  width: 15rem;
}
