.odf-status-popup__status {
  align-items: center;
  display: flex;
  padding-left: var(--pf-global--spacer--xs);
  white-space: nowrap;
}

.odf--status-popup__icon {
  padding-left: var(--pf-global--spacer--xs);
}

.odf-status-popup__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--pf-global--spacer--xs);
}

.odf-status-popup__section {
  margin-top: var(--pf-global--spacer--md);
}

.odf-status-popup__text--bold {
  font-weight: var(--pf-global--FontWeight--bold);
}

.odf-status-popup__title .odf-resource-item__resource-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
