.mco-topology__app-group {
  path.pf-topology__group__background {
    fill: var(--pf-t--global--color--nonstatus--gray--100);
    fill-opacity: 0.1;
    stroke: var(--pf-t--global--border--color--default);
    stroke-width: 1.5px;
    rx: 8px;
    ry: 8px;
  }

  &--cluster {
    path.pf-topology__group__background {
      fill: var(--pf-t--global--color--nonstatus--blue--100);
      fill-opacity: 0.08;
      stroke: var(--pf-t--global--border--color--default);
      stroke-width: 2px;
      rx: 12px;
      ry: 12px;
    }
  }

  &--single {
    path.pf-topology__group__background {
      stroke-dasharray: 3, 3;
    }
  }

  &--stacked {
    path.pf-topology__group__background {
      stroke-width: 2px;
    }
  }
}
