.s3-lifecycle--margin {
    margin-left: calc(var(--pf-t--global--spacer--md) * -1);
}

.s3-lifecycle-action--margin {
    margin-top: calc(var(--pf-t--global--spacer--sm) * -2);
}

.s3-lifecycle-validation--font-weight {
    .pf-v6-c-alert__title {
        font-weight: var(--pf-t--global--font--weight--body--default);
    }
}
