.ocs-getting-started-expandable-section {
    background-color: var(--pf-t--global--background--color--100);
    margin-bottom: var(--pf-t--global--spacer--gutter--default);
    &__toggle-text {
      color: var(--pf-t--global--text--color--regular);
      font-size: var(--pf-t--global--icon--size--font--md);
      font-weight: var(--pf-t--global--font--weight--body--bold);
    }

    .pf-v6-c-expandable-section__toggle {
        align-items: center;
    }
}

.ocs-getting-started-expandable-grid {
    --pf-v6-c-card--BoxShadow: 0;
}
