@use '../../styles/skeleton' as sk;

.capacity-breakdown-card__available-body {
  float: right;
  font-weight: var(--pf-v5-global--FontWeight--normal);
}

.capacity-breakdown-card__capacity-body {
  font-size: var(--pf-v5-global--FontSize--sm);
  margin-bottom: 0;
}

.capacity-breakdown-card__header-link {
  padding: var(--pf-v5-global--spacer--xs);
  margin-right: var(--pf-v5-global--spacer--md);
}

.capacity-breakdown-card__legend-link {
  &:link {
    text-decoration: none;
  }
}

.capacity-breakdown-card--error {
  width: 100%;
  text-align: center;
}

.skeleton-activity {
  animation: sk.$skeleton-animation;
  background: sk.$skeleton-color;
  opacity: 0;
  border-radius: 6px;
  margin: 0.5rem 0.7em;
  height: 30px;

  &::after {
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}

.skeleton-stack-no-show {
  background-color: var(--pf-v5-global--BackgroundColor--100);
  animation: none;
}

.skeleton-stack-bar {
  margin: 0.2rem 0.7em;
}

.skeleton-stack-legend {
  margin: 1.5rem 0.7em;
  height: 50px;
}
