.icon--spacer {
  margin-right: 0.25em;
}

.modal--padding {
  padding: var(--pf-t--global--spacer--xl) var(--pf-t--global--spacer--xl)
    var(--pf-t--global--spacer--xs);
}

.modalFooter--justifyEnd {
  justify-content: flex-end;
}

.modalInput--lowHeight tags-input .tags {
  min-height: 36px;
}

.modalInput--defaultHeight tags-input .tags {
  min-height: 120px;
}

.modalBody tags-input .tags {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
  border: 1px solid #e9e9e9;
  border-bottom: 1px solid #b2afaf;
  border-radius: 4px;
  color: rgb(85, 85, 85);
  cursor: text;
  line-height: 20px;
  margin-bottom: 1rem;
}

.modalBody tags-input .tags:hover {
  border-bottom: 1px solid rgb(0, 132, 255);
}

.modal--overflow {
  overflow-x: unset;
  overflow-y: unset;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}
