.odf-upload{
    width: 99%;
    margin: var(--pf-t--global--spacer--sm);
    padding: var(--pf-t--global--spacer--xs);
}

.odf-upload__title {
    border: 1px dotted var(--pf-t--color--gray--50);
    padding: var(--pf-t--global--spacer--md);
    margin-top: var(--pf-t--global--spacer--xs);
}

.odf-upload-title__button{
    width: 75%;
}


.odf-upload-title__input {
    margin: 0 auto;
    align-self: center;
}

.odf-upload__helper-text {
    color: var(--pf-t--color--gray--50);
}
