@use '@patternfly/patternfly/sass-utilities' as pf;

.nb-capacity-breakdown-card__body {
  padding-top: 24px;
}

.nb-capacity-breakdown-card__header {
  display: flex;
  justify-content: space-between;
}

.nb-capacity-breakdown-card-header__dropdown {
  @media screen and (min-width: pf.$pf-v6-global--breakpoint--lg) {
    max-width: 12em;
    min-width: 12em;
  }
  &--margin {
    margin-right: var(--pf-t--global--spacer--xs);
  }
}
