.odf-title-details {
  display: flex;
  justify-content: space-between;
}

.odf-title {
  padding-bottom: 1.5rem !important;
}

.odf-title-status {
  display: flex;
  flex-direction: row;
}

.odf-breadcrumbs {
  padding: var(--pf-c-page__main-breadcrumb--PaddingTop)
    var(--pf-c-page__main-breadcrumb--PaddingRight)
    var(--pf-c-page__main-breadcrumb--PaddingBottom) 0;
}

.odf-breadcrumbs-link {
  padding-bottom: var(--pf-v5-global--spacer--sm);
}
