.mco-protected-applications {
  &__description {
    max-height: 20vh;
    overflow-y: auto;
    padding: 1.5rem;
  }

  &__expanded {
    text-decoration: underline;
    font-weight: bold;
  }

  &__popover {
    word-break: break-all;
  }

  &__toolbar-actions {
    display: flex;
    align-items: center;
    gap: var(--pf-t--global--spacer--sm);
    flex-shrink: 0;
  }

}
