@use '../../styles/skeleton' as sk;

.o-capacityCard {
  min-height: 215px;
  overflow-y: auto;
  padding-top: 5px;

  &--centered {
    align-items: center;
    display: flex;
    flex: 1;
    place-content: center;
  }
}

.odf {
  &-capacityCardLoading-body {
    display: flex;
    flex-direction: column;
    height: 215px;
  }

  &-capacityCardLink--ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
  }

  &-capacityCard--height {
    max-height: 286px;
  }
}

.odf-capacityCardLoading-body__item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;

  &-item__element {
    animation: sk.$skeleton-animation;
    background: sk.$skeleton-color;
    display: flex;
    flex-grow: 1;
    height: 20px;
    margin: 5px;
    min-width: 50px;
  }
}

.odf-capacityCardLoading-body__item--header {
  height: 40px;
}

.odf-capacityCardLoading-body__item--thin {
  width: 25px;
}

.odf-capacityCardLoading-body__item--thin--thick {
  width: 80px;
}
