.odf-storage-cluster-create-modal__setup-card {
  max-width: 25rem;
  min-height: 9rem;
  max-height: 9rem;
}

.odf-storage-cluster-create-modal__body-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
