.details-item {
  padding: var(--pf-t--global--spacer--xs);
  &--border {
    border: 1px solid var(--pf-t--color--gray--10);
  }
}

.details-item__child--pad {
  padding-left: var(--pf-t--global--spacer--md);
}
