.details-item {
  padding: var(--pf-v5-global--spacer--xs);

  &--border {
    border: 1px solid var(--pf-v5-global--BorderColor--300);
  }
}

.details-item__child--pad {
  padding-left: var(--pf-v5-global--spacer--md);
}
