.details-item {
  padding: var(--pf-global--spacer--xs);
  &--border {
    border: 1px solid var(--pf-global--BorderColor--300);
  }
}

.details-item__child--pad {
  padding-left: var(--pf-global--spacer--md);
}
