@use './../../style.scss' as shared;

.odf-dashboard-body {
  background-color: var(--pf-t--global--background--color--200);
  flex: 1 0 auto;
  padding: var(--pf-t--global--spacer--gutter--default);
  @media (min-width: shared.$pf-t--global--breakpoint--xl) {
    padding: var(--pf-t--global--spacer--gutter--md);
  }
}
