@import './../../style.scss';

.odf-dashboard-body {
  background-color: var(--pf-global--BackgroundColor--200);
  flex: 1 0 auto;
  padding: $pf-global-gutter;
  @media(min-width: $pf-global--breakpoint--xl) {
    padding: $pf-global-gutter--md;
  }
}
