@use './../../style.scss' as shared;

.odf-dashboard-body {
  background-color: var(--pf-v5-global--BackgroundColor--200);
  flex: 1 0 auto;
  padding: shared.$pf-v5-global-gutter;
  @media (min-width: shared.$pf-v5-global--breakpoint--xl) {
    padding: shared.$pf-v5-global-gutter--md;
  }
}
