.nb-bc-modal {
  max-height: 70vh;
  overflow-y: auto;

  .modal-body {
    background-color: var(--pf-t--global--background--color--100);
  }

  @media screen and (max-width: 426px) {
    max-height: 73vh;
  }

  .co-m-nav-title {
    padding: 0;
    margin: 0;
  }

  &__text {
    padding-bottom: var(--pf-t--global--spacer--md);
  }
}

.nb-create-bc-step-page-form__dropdown {
  min-height: 12rem;
}

.nb-edit-modal__save-btn {
  margin-left: var(--pf-t--global--spacer--md);
}

.nb-modal {
  width: 53%;
  @media screen and (max-width: 426px) {
    width: unset;
  }
}
