.mco-topology {
  height: 100%;
  width: 100%;
  background-color: var(--pf-v6-global--BackgroundColor--100);
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  &__sidebar {
    padding: var(--pf-v6-global--spacer--md);

    &__section {
      margin-bottom: var(--pf-v6-global--spacer--lg);

      h3 {
        margin-bottom: var(--pf-v6-global--spacer--sm);
        font-weight: var(--pf-v6-global--FontWeight--bold);
      }

      p {
        margin: 0;
        color: var(--pf-v6-global--Color--100);
      }
    }
  }
}
