.odf-resource-details {
  margin-top: var(--pf-v5-global--spacer--md);
}

.odf-details-title {
  display: flex;
  flex-direction: row;
}

.odf-managed-owner--gap {
  gap: 0.25rem;
}

.odf-title-owner-reference {
  display: flex;
  flex-direction: column;
}
