.progression-train-view {
  &__summary {
    color: var(--pf-v5-global--Color--200);
    font-size: var(--pf-v5-global--FontSize--sm);
  }

  &__in-progress-icon {
    animation: spin 2s linear infinite;
  }

  &__details {
    margin-top: var(--pf-v5-global--spacer--sm);
    background-color: var(--pf-v5-global--BackgroundColor--200);
    padding: var(--pf-v5-global--spacer--md);
    border-radius: var(--pf-v5-global--BorderRadius--sm);
    font-family: var(--pf-v5-global--FontFamily--monospace);
    font-size: var(--pf-v5-global--FontSize--sm);
    max-height: 200px;
    overflow-y: auto;
  }

  &__details pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

