.odf-health-alerts-table {
  .pf-v5-c-table__th,
  .pf-v5-c-table__td {
    padding-top: var(--pf-v5-global--spacer--sm);
    padding-bottom: var(--pf-v5-global--spacer--sm);
    vertical-align: middle;
  }

  .pf-v5-c-table__tr {
    height: auto;
  }
}
