.health-overview__alerts-table {
  .pf-v6-c-table__th,
  .pf-v6-c-table__td {
    padding-top: var(--pf-t--global--spacer--sm);
    padding-bottom: var(--pf-t--global--spacer--sm);
    vertical-align: middle;
  }

  .pf-v6-c-table__tr {
    height: auto;
  }
}
