@import '~@patternfly/patternfly/sass-utilities/colors';

.nb-buckets-card__buckets-failure-status {
  display: flex;
  flex-shrink: 0;
}

.nb-buckets-card__buckets-failure-status-count {
  color: $pf-v5-color-blue-300;
  margin-left: var(--pf-v5-global--spacer--xs);
}

.nb-buckets-card__buckets-failure-status-item {
  margin-left: var(--pf-v5-global--spacer--sm);
  .nb-buckets-card__buckets-failure-status-item--link {
    text-decoration: none;
  }
}

.nb-buckets-card__buckets-status-title {
  margin-right: var(--pf-v5-global--spacer--sm);
}
