.nb-buckets-card__buckets-failure-status {
  display: flex;
  flex-shrink: 0;
}

.nb-buckets-card__buckets-failure-status-count {
  color: var(--pf-t--color--blue--30);
  margin-left: var(--pf-t--global--spacer--xs);
}

.nb-buckets-card__buckets-failure-status-item {
  margin-left: var(--pf-t--global--spacer--sm);
  .nb-buckets-card__buckets-failure-status-item--link {
    text-decoration: none;
  }
}

.nb-buckets-card__buckets-status-title {
  margin-right: var(--pf-t--global--spacer--sm);
}
