.odf-connection-details__form-group {
  padding-top: var(--pf-t--global--spacer--md);
}

.odf-connection-details__file-upload {
  padding-top: var(--pf-t--global--spacer--xs);
}

.odf-connection-details__helper-text {
  padding-top: var(--pf-t--global--spacer--xs);
}
