.topology-sidebar-tab__resources {
  font-size: var(--pf-v5-global--FontSize--sm);

  .list-group-item {
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }

  .odf-sidebar-pod-list__item-header {
    color: var(--pf-v5-global--Color--dark-200);
    display: block;
  }

  .odf-sidebar-pod-list__item-content {
    font-weight: var(--pf-v5-global--FontWeight--semi-bold);
  }
}
