.mco-dr-action-body {
  &__alert {
    margin-top: var(--pf-t--global--spacer--sm);
    margin-bottom: var(--pf-t--global--spacer--xs);
  }
  &__target-cluster--width {
    width: 35rem;
  }
  &__unknown {
    display: inline-block;
  }
}
