.mco-dr-action-body {
  &__alert {
    margin-top: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--xs);
  }

  &__target-cluster--width {
    width: 35rem;
  }

  &__unknown {
    display: inline-block;
  }
}
