.mco-enroll-app--footer .pf-v6-u-ml-md {
    margin-left: 0 !important;
}

.mco-policy--footer {
    width: 15rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
