.bucket-label--height {
    height: 1rem;
}

.bucket-label--margin-top {
    margin-top: calc(0.3rem * -1);
}

.obc-bucket-yaml {
    .ocs-yaml-editor__root {
        min-height: 34rem !important;
    }
}
