/* Use on the parent div/Block Element of the item which requires centering */
.centerComponent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.odf-pre-line {
  white-space: pre-line;
}

.odf-pre-wrap {
  white-space: pre-wrap;
}

.odf-m-pane__heading-badge {
  @media (min-width: $screen-sm-min) {
    margin-left: var(--pf-global--spacer--sm);
  }
}

.odf-section-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--pf-global--spacer--lg) 0;
}

.odf-m-pane__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: $pf-global-gutter--md !important;

  &--baseline {
    align-items: baseline;
  }

  &--center {
    justify-content: center;
  }

  &--logo {
    align-items: center;
  }

  &--with-help-text {
    margin-bottom: 0 !important;
  }
}

.odf-m-pane__body {
  margin: $pf-global-gutter--md 0 0;
  padding: 0 $pf-global-gutter $pf-global-gutter--md;
  @media (min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
    padding-right: $pf-global-gutter--md;
  }

  &--full-height {
    height: 100%;
  }

  &--no-top-margin {
    margin-top: 0;
  }

  &--section-heading {
    padding-bottom: 0;
  }

  + .odf-m-pane__body {
    border-top: 1px solid var(--pf-global--BorderColor--100);
    margin-top: 0;
    padding-top: $pf-global-gutter--md;
  }
}

.odf-create-operand__header {
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  padding: 0 $pf-global-gutter var(--pf-global--spacer--lg);
  @media (min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
    padding-right: $pf-global-gutter--md;
  }
}

.odf-create-operand__header-text {
  margin: var(--pf-global--spacer--lg) 0 0 !important;
}
