// only used in packages and will be orphaned when packages move out
.odf-create-operand__header {
  border-bottom: var(--pf-global--BorderWidth--sm) solid
    var(--pf-global--BorderColor--100);
  padding: 0 $pf-global-gutter var(--pf-global--spacer--lg);
  @media (min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
    padding-right: $pf-global-gutter--md;
  }
}

// only used in packages and will be orphaned when packages move out
.odf-create-operand__header-text {
  margin: var(--pf-global--spacer--lg) 0 0 !important;
}
