$odf-icon-and-text-icon-lg: 1.2rem;

.odf-icon-and-text {
  align-items: baseline;
  display: flex;

  // fix bug where concurrent .pf-c-label are misaligned vertically
  .pf-c-label__icon & {
    display: block;
  }
}

.odf-icon-and-text__icon {
  flex-shrink: 0;
  margin-right: 5px;
}

.odf-icon-and-text--lg {
  display: block;

  .odf-icon-and-text__icon {
    font-size: $odf-icon-and-text-icon-lg;
    margin-right: 1rem;
  }
}

.odf-dashboard-icon {
  font-size: $odf-icon-and-text-icon-lg;
}
