.s3-cors-button--margin {
  margin-left: calc(var(--pf-v5-global--spacer--md) * -1);
}

.s3-cors-input--margin {
  margin-left: calc(var(--pf-v5-global--spacer--xs) * 5.5);
  margin-top: var(--pf-v5-global--spacer--sm);
}

.s3-cors-validation--font-weight {
  .pf-v5-c-alert__title {
    font-weight: var(--pf-v5-global--FontWeight--normal);
  }
}
