.s3-cors-button--margin {
    margin-left: calc(var(--pf-t--global--spacer--md) * -1);
}

.s3-cors-input--margin {
    margin-left: calc(var(--pf-t--global--spacer--xs) * 5.5);
    margin-top: var(--pf-t--global--spacer--sm);
}

.s3-cors-validation--font-weight {
    .pf-v6-c-alert__title {
        font-weight: var(--pf-t--global--font--weight--body--default);
    }
}
