@use '@patternfly/patternfly/sass-utilities' as pf;

.odf-general-overview__activity-card {
  padding-bottom: 1rem;
}

.odf-general-overview__activity-card-body {
  max-height: 35vh;
  overflow-y: auto;
  @media screen and (min-width: pf.$pf-v6-global--breakpoint--2xl) {
    max-height: 70vh;
  }
}
