.mco-namespace-selection {
  &__border {
    border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  }

  &__table {
    overflow-y: auto;
    display: block;
  }
}
