.mco-namespace-selection {
    &__border {
        border: var(--pf-t--global--border--width--regular) solid
          var(--pf-t--global--border--color--100);
    }
    &__table {
        overflow-y: auto;
        display: block;
    }
}
