.ocs-preview-badge {
  &.pf-v6-c-label {
    --pf-v6-c-label--BackgroundColor: var(--pf-t--color--orange--10);
    --pf-v6-c-label--BorderRadius: var(--pf-t--global--border--radius--small);
    --pf-v6-c-label--BorderRadius: 30em;
    --pf-v6-c-label__content--before--BorderWidth: 1px;
    --pf-v6-c-label__content--before--BorderColor: var(--pf-t--color--orange--20);
    --pf-v6-c-label__content--Color: var(--pf-v6-c-label--m-orange__content--Color);
    --pf-v6-c-label--m-orange__icon--Color: var(--pf-v6-c-label--m-orange__content--Color);
  }
}

.odf-advanced-subscription {
  cursor: pointer;
}

.odf-steps-count-badge {
  background-color: var(--pf-t--global--background--color--200);
  color: var(--pf-t--global--text--color--regular);
  border-radius: 20px;
  display: inline-block;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 16px;
  margin-right: 4px;
  min-width: 18px;
  padding: 1px 4px;
  text-align: center;
  white-space: nowrap;
}
