.ocs-preview-badge {
  &.pf-v5-c-label {
    --pf-v5-c-label--BackgroundColor: var(--pf-v5-global--palette--orange-50);
    --pf-v5-c-label--BorderRadius: var(--pf-v5-global--BorderRadius--sm);
    --pf-v5-c-label--BorderRadius: 30em;
    --pf-v5-c-label__content--before--BorderWidth: 1px;
    --pf-v5-c-label__content--before--BorderColor: var(--pf-v5-global--palette--orange-200);
    --pf-v5-c-label__content--Color: var(--pf-v5-c-label--m-orange__content--Color);
    --pf-v5-c-label--m-orange__icon--Color: var(--pf-v5-c-label--m-orange__content--Color);
  }
}

.odf-advanced-subscription {
  cursor: pointer;
}

.odf-steps-count-badge {
  background-color: var(--pf-v5-global--BackgroundColor--200);
  color: var(--pf-v5-global--Color--dark-100);
  border-radius: 20px;
  display: inline-block;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 16px;
  margin-right: 4px;
  min-width: 18px;
  padding: 1px 4px;
  text-align: center;
  white-space: nowrap;
}
