.odf-field-level-help {
    margin-left: 5px;

    &:hover .odf-field-level-help__icon {
        color: var(--pf-t--global--text--color--regular);
    }

    .odf-field-level-help__icon {
        color: var(--pf-t--global--text--color--subtle);
        font-size: 12px;
    }
}
