.ceph__install-radio--inline {
  .pf-v6-c-form__group-control {
    display: inline-flex;
  }
  .pf-v6-c-radio {
    margin-right: var(--pf-t--global--spacer--lg);
  }
}

.ceph__multus-dropdown {
  min-width: 18em;
  max-width: 18em;
}

.ceph__multus-dropdown-button {
  min-width: 18em;
}

.ceph__multus-radio--width {
  width: 18rem;
}
