.odf-security-kms-connection {
  padding-left: var(--pf-t--global--spacer--lg);

  &__form-body {
    padding: var(--pf-t--global--spacer--md);
  }

  &__form-body--small-padding {
    padding: var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--md)
      var(--pf-t--global--spacer--md) 0;
  }

  &__form-alert {
    margin: var(--pf-t--global--spacer--md);
  }

  &__form-checkbox {
    margin-top: var(--pf-t--global--spacer--md);
  }

  &__pv-title {
    display: inline-block;

    &--padding {
      padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm)
        var(--pf-t--global--spacer--sm) 0;
    }
  }
}

.odf-security-encryption {
  padding-bottom: var(--pf-t--global--spacer--md);
}

.odf-in-transit-encryption {
  margin-top: var(--pf-t--global--spacer--sm);
}
