@use '@patternfly/patternfly/sass-utilities' as pf;

.mco-drpolicy-list {
  @media (min-width: pf.$pf-v6-global--breakpoint--md) {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__header {
    margin-top: var(--pf-t-global--spacer--md);
    margin-bottom: var(--pf-t-global--spacer--md);
  }
  &__createlink {
    margin-top: var(--pf-t-global--spacer--md);
  }
}
