@use '@patternfly/patternfly/sass-utilities/all' as pf;

.mco-drpolicy-list {
  @media (min-width: pf.$pf-v5-global--breakpoint--md) {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__header {
    margin-top: var(--pf-v5-global--spacer--md);
    margin-bottom: var(--pf-v5-global--spacer--md);
  }

  &__createlink {
    margin-top: var(--pf-v5-global--spacer--md);
  }
}
