@use '@patternfly/patternfly/sass-utilities' as pf;

.nb-data-consumption-card__header {
  justify-content: space-between;
}

.nb-data-consumption-card__dropdown {
  display: flex;
}

.nb-data-consumption-card__dropdown-item {
  max-width: 12em;
  @media screen and (min-width: pf.$pf-v6-global--breakpoint--lg) {
    min-width: 12em;
  }
  &--hide-list-style {
    li {
      list-style: none;
    }
  }
  &--margin {
    margin-right: var(--pf-t--global--spacer--xs);
  }
  /* Override Options Menu item style to make it similar to Select Menu */
  .pf-v6-c-options-menu {
    --pf-v6-c-menu__item--PaddingInlineStart: 0;
  }
}

.nb-data-consumption-card__options-menu > button {
  width: 100%;
}

.nb-data-consumption-card__chart-label {
  margin-top: var(--pf-t--global--spacer--md);
}

.nb-data-consumption-card__chart-skeleton {
  margin-top: var(--pf-t--global--spacer--md);
  margin-bottom: var(--pf-t--global--spacer--md);
  width: 50%;
}

.nb-data-consumption-card__chart-legend-skeleton {
  margin-top: var(--pf-t--global--spacer--md);
  width: 80%;
}

.nb-perf__graph {
  &--short {
    margin-left: var(--pf-t--global--spacer--xs);
  }
  &--long {
    margin-left: var(--pf-t--global--spacer--xl);
  }
}
