.mco-cluster-app{
    &__contentRow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__contentRow--flexStart {
        justify-content: flex-start;
    }

    &__contentRow--flexEnd {
        justify-content: flex-end;
    }

    &__contentRow--spaceBetween {
        justify-content: space-between;
    }

    &__dropdown--padding {
        padding-right: var(--pf-global--spacer--xs);
    }
    &__text--padding-left {
        padding-left: var(--pf-global--spacer--sm);
    }

    &__text--margin-top {
        margin-top: var(--pf-global--spacer--lg);
    }
    &__text--divider {
        border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
        margin-bottom: var(--pf-global--spacer--lg);
    }
    &__headerText--size {
        font-size: var(--pf-global--FontSize--xl);
    }
}

.mco-cluster-app__cluster-health-section {
    width: auto;
    height: auto;
}

.mco-cluster-app__donut-chart {
    width: 350px;
    height: 220px; 
}

.co-utilization-card__item-summary {
    margin-left: var(--pf-global--spacer--3xl);
}

  .co-utilization-card__item-summary .bold {
    font-weight: bold;
}
