@use '@patternfly/patternfly/sass-utilities' as pf;

.ceph-capacity-breakdown-card__body {
  padding-top: 24px;
}

.ceph-capacity-breakdown-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ceph-capacity-breakdown-card-header__dropdown {
  max-width: 30em;
  @media screen and (min-width: pf.$pf-v6-global--breakpoint--lg) {
    min-width: 12em;
  }
}

.odf-capacity-breakdown-card-pvc-namespace {
  &__header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--lg) 0;
  }
  &__dropdown {
    width: -webkit-fill-available;
    max-width: 30em;
  }
  &__dropdown > div {
    max-height: 300px;
    max-width: 30em;
    overflow: auto;

    @media screen and (min-width: pf.$pf-v6-global--breakpoint--lg) {
      min-width: 12em;
    }
  }
  &__title {
    padding-right: var(--pf-t--global--spacer--lg);
  }
}

.odf-capacity-breakdown-card-pvc-description {
  font-size: var(--pf-t--global--font--size--xs);
}
