.icon--spacer {
  margin-right: 0.25em;
}
  
.modal--padding {
  padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--xl)
    var(--pf-global--spacer--xs);
}
  
.modalFooter--justifyEnd {
  justify-content: flex-end;
}
  
.modalBody tags-input .tags {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
  border-radius: 4px;
  color: rgb(85, 85, 85);
  cursor: text;
  line-height: 20px;
  margin-bottom: 1rem;
  min-height: 120px;
}
  
.modal--overflow {
  overflow-x: unset;
  overflow-y: unset;
}
