.odf-alerts__panel {
  .co-status-card__alerts-body {
    border-top: unset;
    max-height: unset;
  }

  .odf-alerts-panel__button {
    padding: 0;
  }

  .odf-alerts-panel__badge-text {
    margin-left: 0.5rem;
    margin-right: 1.5rem;
  }

  .odf-alerts-panel__badge {
    border: 1.5px solid;
    padding: .2rem .7rem;
  }

  .odf-alerts-panel__badge-critical {
    background-color: var(--pf-t--color--red--10);
    border-color: var(--pf-t--global--color--status--danger--200);
    color: var(--pf-t--global--color--status--danger--200);
  }

  .odf-alerts-panel__badge-warning {
    background-color: var(--pf-t--color--yellow--10);
    border-color: var(--pf-t--global--color--status--warning--200);
    color: var(--pf-t--global--color--status--warning--200);
  }

  .odf-alerts-panel__badge-info {
    background-color: var(--pf-t--color--purple--10);
    border-color: var(--pf-t--global--color--status--info--100);
    color: var(--pf-t--global--color--status--info--100);
  }

  .odf-alerts-panel__divider {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  // Override the PF Accordion properties that don't fit the design.
  /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
  .pf-v6-c-accordion {
    .pf-m-expanded {
      --pf-v6-c-accordion__toggle--before--BackgroundColor: transparent;
      --pf-v6-c-accordion__expanded-content-body--before--BackgroundColor: transparent;
    }

    .pf-v6-c-accordion__toggle .pf-v6-c-accordion__toggle-text {
      color: unset;
      font-size: 15px;
      font-weight: 50;
    }

    .pf-v6-c-accordion__toggle:focus .pf-v6-c-accordion__toggle-text {
      color: unset;
      font-size: 15px;
      font-weight: 50;
    }

    .pf-v6-c-accordion__expanded-content {
      color: unset;
    }
  }
  /* stylelint-enable max-nesting-depth, selector-max-compound-selectors */
}
