.ceph-block-pool-body__input {
  margin: var(--pf-v5-global--spacer--lg) 0 !important;

  .field-requirements-input-section {
    align-items: center;
    display: flex;
  }
}

.ceph-block-pool-body__compression {
  align-items: center;
  display: flex;
}

.ceph-block-pool__switch {
  --pf-v5-c-switch--FontSize: var(--pf-v5-global--FontSize--xs) !important;
  --pf-v5-c-switch__input--focus__toggle--OutlineWidth: 0 !important; // To disable the switch focus border
}

.ceph-block-pool__error-icon {
  color: var(--pf-v5-global--danger-color--100) !important;
}

.ceph-block-pool__check-icon {
  color: var(--pf-v5-global--success-color--100) !important;
}

.ceph-block-pool__alert {
  --pf-v5-global--FontSize--md: 0.8rem;
}

.ceph-block-pool__dropdown-description > div {
  white-space: pre-line;
}

.ceph-pool__radio-flex .pf-v5-c-radio {
  width: unset;
}

.pool-prefix {
  min-width: 16.8em;
  width: unset;
}
