.ceph-block-pool-body__input {
  margin: var(--pf-t--global--spacer--lg) 0 !important;

  .field-requirements-input-section {
    align-items: center;
    display: flex;
  }
}

.ceph-block-pool-body__compression {
  align-items: start;
  display: flex;

  input[type='checkbox'] {
    // Override some inherited styles.
    margin-left: unset !important;
    position: unset !important;
    margin-right: 10px;
  }
}

.ceph-block-pool__switch {
  --pf-v6-c-switch--FontSize: var(--pf-t--global--font--size--xs) !important;
  --pf-v6-c-switch__input--focus__toggle--OutlineWidth: 0 !important; // To disable the switch focus border
}

.ceph-block-pool__error-icon {
  color: var(--pf-t--global--color--status--danger--default) !important;
}

.ceph-block-pool__check-icon {
  color: var(--pf-t--global--color--status--success--default) !important;
}

.ceph-block-pool__alert {
  --pf-t--global--font--size--md: 0.8rem;
}

.ceph-block-pool__dropdown-description > div {
  white-space: pre-line;
}

.ceph-pool__radio-flex .pf-v6-c-radio {
  width: unset;
}

.pool-prefix {
  min-width: 16.8em;
  width: unset;
}
