@use './vars' as vars;
@use '@patternfly/patternfly/sass-utilities' as pf ;

.odf-actions {
  align-items: flex-end;
  display: flex;
  @media (max-width: vars.$screen-xs) {
    flex-direction: column;
  }
}

@media (max-width:  vars.$screen-xs) {
  .odf-action-buttons__btn {
    margin-bottom: 10px;
  }
}

.odf-action-buttons__btn, // btn along with drowdown actions
.odf-actions-menu {
  margin-left: 10px;
}

.odf-m-nav-title {
  margin-top: vars.$pf-v6-global-gutter--md;
  padding: 0 vars.$pf-v6-global-gutter 0;
  @media (min-width: pf.$pf-v6-global--breakpoint--xl) {
    padding-left: vars.$pf-v6-global-gutter--md;
    padding-right: vars.$pf-v6-global-gutter--md;
  }

  &--row {
    @media (min-width: vars.$screen-sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--detail {
    border-bottom: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--100);
    flex-shrink: 0; // do not allow to shrink
  }
  // Positioned after --detail to take precedence, since they will be a siblings
  &--breadcrumbs {
    margin-top: 0;
  }
}
