@use './vars' as vars;
@use './mixin/break-word' as bw;

.odf-alert {
  margin-bottom: var(--pf-t--global--spacer--lg);
  text-align: left;
  // overrides Bootstrap-related line-height issue that causes the title and icon to go out of alignment
  h4 {
    font-family: var(--pf-t--global--font--family--body);
    line-height: var(--pf-t--global--font--line-height--body);
  }
}

.odf-alert--margin-bottom-sm {
  margin-bottom: var(--pf-t--global--spacer--sm);
}

.odf-alert--margin-top {
  margin-bottom: 0;
  margin-top: vars.$pf-v6-global-gutter;
}

.odf-alert--scrollable .pf-v6-c-alert__description {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  @include bw.odf-break-word;
  @media (min-height: vars.$screen-sm-min) {
    max-height: 200px;
  }
}
