/* Use on the parent div/Block Element of the item which requires centering */
.centerComponent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.odf-pre-line {
  white-space: pre-line;
}

.odf-pre-wrap {
  white-space: pre-wrap;
}

.odf-m-pane__heading-badge {
  @media (min-width: $screen-sm-min) {
    margin-left: var(--pf-v5-global--spacer--sm);
  }
}

.odf-section-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--pf-v5-global--spacer--lg) 0;
}

.odf-m-pane__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: $pf-v5-global-gutter--md !important;

  &--baseline {
    align-items: baseline;
  }

  &--center {
    justify-content: center;
  }

  &--logo {
    align-items: center;
  }

  &--with-help-text {
    margin-bottom: 0 !important;
  }

  &--link {
    font-size: $font-size-base;
  }
}

.odf-required > * {
  display: inline-block;
}

.odf-required::after {
  color: $pf-v5-color-red-200;
  content: '*';
  font-size: $font-size-base;
  padding-left: 3px;
  vertical-align: top;
}

.odf-m-pane__body {
  margin: $pf-v5-global-gutter--md 0 0;
  padding: 0 $pf-v5-global-gutter $pf-v5-global-gutter--md;
  @media (min-width: $pf-v5-global--breakpoint--xl) {
    padding-left: $pf-v5-global-gutter--md;
    padding-right: $pf-v5-global-gutter--md;
  }

  &--full-height {
    height: 100%;
  }

  &--no-top-margin {
    margin-top: 0;
  }

  &--section-heading {
    padding-bottom: 0;
  }

  + .odf-m-pane__body {
    border-top: 1px solid var(--pf-v5-global--BorderColor--100);
    margin-top: 0;
    padding-top: $pf-v5-global-gutter--md;
  }
}

.odf-m-pane__body-group {
  padding: 0 0 30px;
}

.odf-m-pane__form {
  @media (min-width: 769px) {
    max-width: 650px;
  }

  @media (min-width: 992px) {
    min-width: 650px;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }
}

.odf-m-pane__body {
  margin: $pf-v5-global-gutter--md 0 0;
  padding: 0 $pf-v5-global-gutter $pf-v5-global-gutter--md;
  @media (min-width: $pf-v5-global--breakpoint--xl) {
    padding-left: $pf-v5-global-gutter--md;
    padding-right: $pf-v5-global-gutter--md;
  }

  &--full-height {
    height: 100%;
  }

  &--no-top-margin {
    margin-top: 0;
  }

  &--section-heading {
    padding-bottom: 0;
  }

  + .odf-m-pane__body {
    border-top: 1px solid var(--pf-v5-global--BorderColor--100);
    margin-top: 0;
    padding-top: $pf-v5-global-gutter--md;
  }
}

.odf-create-operand__header {
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  padding: 0 $pf-v5-global-gutter var(--pf-v5-global--spacer--lg);
  @media (min-width: $pf-v5-global--breakpoint--xl) {
    padding-left: $pf-v5-global-gutter--md;
    padding-right: $pf-v5-global-gutter--md;
  }
}

.odf-create-operand__header-text {
  margin: var(--pf-v5-global--spacer--lg) 0 0 !important;
}

.odf-m-pane__body-group {
  padding: 0 0 30px;
}

.odf-m-pane__details {
  line-height: 1.66;
  min-width: 0;
  white-space: normal;
  dd {
    @include odf-break-word;
  }
}

.text-muted {
  color: var(--pf-v5-global--Color--200);
}
