@use './vars' as vars;

.odf-copy-to-clipboard {
  font-family: vars.$font-family-monospace;
  position: relative;
}

.pf-v5-c-clipboard-copy__group-copy.odf-copy-to-clipboard__btn {
  position: absolute;
  right: 0;
  top: 3px;
}

.odf-copy-to-clipboard__text {
  line-height: 1.4;
  padding-right: 50px;
}

.odf-copy-to-clipboard__stacktrace-width-height {
  display: flex;

  .odf-copy-to-clipboard {
    width: 100%;
  }

  .odf-copy-to-clipboard__text {
    max-height: 25vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

.odf-copy-to-clipboard__pre {
  background-color: var(--pf-v5-c-code-block--BackgroundColor);
  color: var(--pf-v5-global--Color--100);
  display: block;
  font-family: var(--pf-v5-c-code-block__pre--FontFamily);
  font-size: var(--pf-v5-c-code-block__pre--FontSize);
  overflow-wrap: break-word;
  padding: var(--pf-v5-global--spacer--md);
  white-space: pre-wrap;
}

.pf-v5-c-button.odf-copy-to-clipboard__btn,
.pf-v5-c-button.odf-copy-to-clipboard__btn:hover {
  --pf-v5-c-button--PaddingTop: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-button--PaddingRight: var(--pf-v5-global--spacer--md);
  --pf-v5-c-button--PaddingBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-button--PaddingLeft: var(--pf-v5-global--spacer--md);
  --pf-v5-c-button--BorderRadius: 0;
  --pf-v5-c-button--hover--BorderWidth: var(--pf-v5-global--BorderWidth--sm) solid
    var(--pf-v5-global--BorderColor--100);
  --pf-v5-c-button--LineHeight: var(--pf-v5-global--BorderWidth--lg);
}

.odf-copy-to-clipboard__btn--icon-only {
  position: unset !important;
}
