@use './vars' as vars;
@use '@patternfly/patternfly/sass-utilities' as pf ;

.odf-dashboard-body {
  background-color: var(--pf-t--global--background--color--200);
  flex: 1 0 auto;
  padding: vars.$pf-v6-global-gutter;
  @media(min-width: pf.$pf-v6-global--breakpoint--xl) {
    padding: vars.$pf-v6-global-gutter--md;
  }
}

.odf-overview-card--gradient {
  position: relative;
  &:after {
    background: linear-gradient(rgba(255, 255, 255, 0), var(--pf-t--global--background--color--100));
    bottom: 0;
    content: '';
    left: 0;
    min-height: 2rem;
    pointer-events: none;
    position: absolute;
    width: calc(100% - var(--pf-t--global--spacer--lg));
  }
}

.odf-overview-status__health.pf-v6-l-gallery {
  display: flex;
  width: 100%;
  --pf-v6-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(150px, auto));
}
