.odf-dashboard-body {
  background-color: var(--pf-global--BackgroundColor--200);
  flex: 1 0 auto;
  padding: $pf-global-gutter;
  @media(min-width: $pf-global--breakpoint--xl) {
    padding: $pf-global-gutter--md;
  }
}

.odf-overview-card--gradient {
  position: relative;
  &:after {
    background: linear-gradient(rgba(255, 255, 255, 0), var(--pf-global--BackgroundColor--100));
    bottom: 0;
    content: '';
    left: 0;
    min-height: 2rem;
    pointer-events: none;
    position: absolute;
    width: calc(100% - var(--pf-global--spacer--lg));
  }
}

.odf-overview-status__health.pf-l-gallery {
  width: 100%;
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(150px, auto));
}


.odf-inventory-card__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.odf-inventory-card__item:last-child {
  padding-bottom: 0rem;
}

.odf-inventory-card__item-status {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.odf-inventory-card__item-title {
  display: flex;
  margin-right: 0.5rem;
}
