.dropdown--full-width {
    &,
    .pf-v6-c-dropdown__toggle,
    .pf-v6-c-menu-toggle {
      justify-content: space-between;
      width: 100%;
    }
    .pf-v6-c-menu__content {
      width: inherit;
    }
}
