@use './vars' as vars;
@use './mixin/break-word' as bw;

.odf-resource-item {
  align-items: baseline;
  display: flex;
  min-width: 0; // required so odf-break-word works
  @include bw.odf-break-word;

  &--inline {
    display: inline-flex;
    margin: 0 20px 0 0;
  }

  &--truncate {
    white-space: nowrap;
  }

  &__deleting {
    animation: odf-resource-icon__deleting 1.5s
      cubic-bezier(0.45, 0.05, 0.55, 0.95) alternate infinite;
    flex: 0 0 auto;
    font-size: (vars.$font-size-base - 1);
    font-weight: var(--pf-t--global--font--weight--body--bold);
    margin: 0 0 0 15px;
    overflow: hidden;
    padding: 0 0 2px;
    position: relative;
    white-space: nowrap;
  }

  &__help-text {
    margin-left: 3px;
    white-space: nowrap;
  }

  &__resource-name {
    min-width: 0; // required so odf-break-word works
  }
}

.odf-resource-item.odf-resource-item__resource-name {
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.odf-m-resource-icon {
  background-color: vars.$color-container-dark;
  border-radius: 20px;
  color: var(--pf-t--color--white);
  display: inline-block;
  flex-shrink: 0;
  font-size: vars.$font-size-base;
  line-height: 16px;
  margin-right: 4px;
  min-width: 18px;
  padding: 1px 4px;
  text-align: center;
  white-space: nowrap;
  &--lg {
    font-size: (vars.$font-size-base + 3);
    line-height: 20px;
    margin-right: 7px;
    min-width: 24px;
    padding: 0 7px;
  }
}
