@use './vars' as vars;

.odf-status-box {
  padding: 40px 20px;
  
  &__title {
    color: var(--pf-v5-global--Color--100);
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  &__detail {
    color: var(--pf-v5-global--Color--200);
    font-size: vars.$font-size-base;
    max-width: 500px;
    margin: 0 auto;
  }
  
  &__access-denied-icon {
    margin: 10px;
  }
  
  &__loading-message {
    margin-top: var(--pf-v5-global--spacer--sm);
  }
}
  
.odf-status-box--loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  flex-direction: column;
}

.odf-error-title {
  color: var(--pf-v5-global--danger-color--100);
}

.odf-m-loader {
  min-width: 18px;
}

.odf-m-loader-dot__one,
.odf-m-loader-dot__two,
.odf-m-loader-dot__three {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: bouncedelay;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  background: #419eda;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  width: 6px;
}

.odf-m-loader-dot__one {
  animation-delay: -0.32s;
}

.odf-m-loader-dot__two {
  animation-delay: -0.16s;
}

.odf-m-loader--inline {
  display: inline-block;
  margin: 0;
  position: static;
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.25, 0.25);
  }

  40% {
    transform: scale(1, 1);
  }
}

.odf-m-timeout-error {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

.odf-loading-box {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
