// PatternFly variables -- imported here so they can be used throughout
@use '@patternfly/patternfly/sass-utilities' as pf;
@use 'sass:math';

$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;

//== Typography
$font-size-base: 14px !default;
$font-size-large: math.ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: math.ceil(($font-size-base * 0.85)) !default; // ~12px

// == Declare max breakpoints from PatternFly variables
$pf-v6-global--breakpoint--xs-max: (pf.$pf-v6-global--breakpoint--xs - 1);
$pf-v6-global--breakpoint--sm-max: (pf.$pf-v6-global--breakpoint--sm - 1);
$pf-v6-global--breakpoint--md-max: (pf.$pf-v6-global--breakpoint--md - 1);
$pf-v6-global--breakpoint--lg-max: (pf.$pf-v6-global--breakpoint--lg - 1);

// Can not use --pf-v5-global--gutter --pf-v5-global--gutter--md because you can't get a negative value of a scss variable that is assigned a css custom property.
$pf-v6-global-gutter: 1rem; // Matches --pf-v5-global--gutter
$pf-v6-global-gutter--md: 1.5rem; // Matches --pf-v5-global--gutter--md

// == Colors
$color-container-dark: var(--pf-t--color--blue--50);
