@use '@odf/shared/style.scss' as shared;

.odf-general-overview__grid {
  padding-left: var(--pf-t--global--spacer--gutter--default);
  padding-right: var(--pf-t--global--spacer--gutter--default);

  @media screen and (min-width: shared.$pf-v6-global--breakpoint--2xl) {
    padding-left: shared.$pf-v6-global-gutter--md;
    padding-right: shared.$pf-v6-global-gutter--md;
  }

  .pf-v6-c-card {
    border-radius: 15px;
    height: 100%;
    @media screen and (min-width: shared.$pf-v6-global--breakpoint--2xl) {
      min-height: 30vh;
    }
  }

  .pf-v6-c-card__title-text {
    font-size: var(--pf-t--global--font--size--lg);
  }

  .pf-v6-c-description-list {
    --pf-v6-c-description-list__term--FontWeight: 500;
  }
}
