.odf-capacity-and-nodes__select-nodes {
  .odf-m-pane__body {
    /* Removes padding from the list page to align the table with rest of the form fields*/
    padding: 0;
  }
  .co-m-nav-title {
    // overrides extra space added by `co-m-nav-title`
    padding: 0;
    margin: 0;
  }
}

.ceph-odf-install__select-nodes-table {
  margin-bottom: var(--pf-t--global--spacer--md);
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: var(--pf-t--global--background--color--300)
    var(--pf-t--color--white);

  .pf-v6-c-table {
    border: var(--pf-t--global--border--width--regular) solid
      var(--pf-t--global--border--color--100);

    .pf-v6-c-table__check {
      /* This overrides the default overrides of checkboxes for ocs based tables */
      width: 4.6% !important;

      @media screen and (max-width: 1620px) {
        width: 7% !important;
      }
      @media screen and (max-width: 1200px) {
        width: 10% !important;
      }
    }
  }
}
