.mco-subs-application-selector {
  &__box {
    border: var(--pf-global--BorderWidth--sm) solid
      var(--pf-global--BorderColor--100);
  }

  &__checkboxtree {
    border-top: var(--pf-global--BorderWidth--sm) solid
      var(--pf-global--BorderColor--100);
    max-height: 12.5rem;
    min-height: 12.5rem;
    overflow-y: auto;
  }

  &__bullseye {
    min-height: 12.5rem;
  }

  &__button {
    padding: 0;
  }
}
