.odf-tabs {
  overflow: unset;
  padding-left: 1.5rem;
  // The following styles are required to override the PF Tab styles and make it consistent with console
  span {
    font: 18px 'RedHatText';
  }

  .pf-v5-c-tabs__link {
    margin-right: 2rem;
    &::cue-region {
      width: fit-content;  
    }
  }

  .pf-m-current span {
    color: var(--pf-v5-global--link--Color);
  }
}
