.odf__topology-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media (min-width: 768px) {
    .odf__topology-view {
        .pf-topology-container__with-sidebar.pf-topology-container__with-sidebar--open .pf-topology-content {
            width: 180px;
            min-width: 100%;
        }
    }
}

.odf-topology__back-button {
    background-color: var(pf-t--global--dark--background--color--450) !important;
    color: var(pf-t--color--gray--50);
    left: var(--pf-t--global--spacer--gutter--default);
    position: absolute;
    top: var(--pf-t--global--spacer--gutter--default);
    font-size: var(--pf-t--global--font--size--xs);
    font-weight: var(--pf-t--global--font--weight--body--default);
    padding: 4px;
    border-radius: 4px;
    z-index: 2;
}

.odf-topology__message-button {
    color: var(pf-t--color--gray--50);
    right: var(--pf-t--global--spacer--gutter--default);
    position: absolute;
    top: var(--pf-t--global--spacer--gutter--default);
    font-size: var(--pf-t--global--font--size--xs);
    font-weight: var(--pf-t--global--font--weight--body--default);
    z-index: 2;
}

.odf-topology__show-message-button {
    text-decoration: underline;
}

.odf-topology__back-button:hover {
    box-shadow: 1px 1px 3px 1px #aaabac;
    cursor: pointer;
}
