.odf__topology-view {
    height: 66.5vh;
    width: 100%;

    &--longer {
        height: 66.5vh;
    }

}

@media (min-width: 768px) {
    .odf__topology-view {
        .pf-topology-container__with-sidebar.pf-topology-container__with-sidebar--open .pf-topology-content {
            width: 180px;
            min-width: 100%;
        }
    }
}

.odf-topology__back-button {
    background-color: var(--pf-global--palette--black-300);
    color: #393F44;
    left: var(--pf-global--gutter);
    position: absolute;
    top: var(--pf-global--gutter);
    font-size: var(--pf-global--FontSize--xs);
    font-weight: var(--pf-global--FontWeight--normal);
    padding: 4px;
    border-radius: 4px;
    z-index: 2;
}

.odf-topology__back-button:hover {
    box-shadow: 1px 1px 3px 1px #aaabac;
    cursor: pointer;
}
