.odf-cephfs-subvolume-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.odf-cephfs-subvolume-card__dropdown {
  min-width: 200px;
}

.odf-cephfs-subvolume-card__help-icon {
  margin-left: var(--pf-v5-global--spacer--sm);
  vertical-align: middle;
}

.odf-cephfs-subvolume-card__subvolume-link {
  cursor: pointer;
}
