@import '~@patternfly/patternfly/sass-utilities/all';

.mco-drpolicy-list {
  @media (min-width: $pf-global--breakpoint--md) {
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__header {
    margin-top: var(--pf-global--spacer--md);
    margin-bottom: var(--pf-global--spacer--md);
  }
  &__createlink {
    margin-top: var(--pf-global--spacer--md);
  }
}
