.odf-topology {
    &-search-bar {
        width: 100%;
        border-bottom: 1px solid var(--pf-global--palette--black-200);
        padding: var(--pf-global--spacer--sm);
        background-color: #fff;
    }
    &-search-bar__search .pf-c-input-group {
        max-width: 30%;
        display: inline-flex;
    }
    &-search-bar__expand {
        margin-left: var(--pf-global--spacer--lg);
    }
    &-search-bar__expand-icon {
        margin-right: var(--pf-global--spacer--sm);
    }
}
