.odf-topology {
    &-nav__item {
        margin-left: var(--pf-t--global--spacer--sm);
        margin-right: var(--pf-t--global--spacer--sm);
        display: flex;
        align-items: center;
    }
    &-nav {
        border-bottom: 1px solid var(--pf-t--global--border--color--default);
        padding: var(--pf-t--global--spacer--sm);
        display: inline-flex;
        width: 100%;
    }
}

.odf-topology-nav__item {
    .pf-v6-c-options-menu__toggle:not(.pf-m-plain)::before {
        border: none;
    }
}

.odf-topology-nav__item-storage-cluster-link {
  text-decoration: underline;
}
