.odf-backing-storage__selection {
  &--width {
    width: 22rem;
  }
  &--spacer {
    margin-right: var(--pf-t--global--spacer--md);
  }
}

.odf-backing-storage__deployment-type {
  margin-bottom: 10rem;
}

.odf-backing-store__radio--margin-bottom {
  margin-bottom: var(--pf-t--global--spacer--md);
}

.odf-backing-store__dropdown--margin-top {
  margin-top: var(--pf-t--global--spacer--sm);
}

.odf-backing-store__ssl {
  padding-left: var(--pf-t--global--spacer--xl); 
  padding-bottom: var(--pf-t--global--spacer--xl);  ;
}

.odf-backing-store__tls--margin-top {
  margin-top: var(--pf-t--global--spacer--md);
}
