.node-observe-tab {
  .co-utilization-card__item-section {
    color: var(--pf-t--global--text--color--regular);
    display: unset;
    .pf-v6-c-title {
      font-size: 15px;
      color: var(--pf-t--global--text--color--regular);
    }
  }
  .co-utilization-card__item.co-utilization-card__item-header {
    display: none;
  }
  .co-utilization-card__item-ceph {
    margin: 10px;
    padding: 5px;
  }
}
