.rich-input__rules {
  padding-top: var(--pf-c-helper-text--Gap);
}

.rich-input__group {
  border-color: var(--pf-v5-global--BorderColor--300)
    var(--pf-v5-global--BorderColor--300) var(--pf-v5-global--info-color--100)
    var(--pf-v5-global--BorderColor--300);
  border-width: var(--pf-v5-global--BorderWidth--sm);
  border-bottom-width: var(--pf-v5-global--BorderWidth--md);
  border-style: solid;
}

.rich-input__group--success {
  border-bottom-color: var(--pf-v5-global--success-color--100);
  border-width: var(--pf-v5-global--BorderWidth--sm);
  border-bottom-width: var(--pf-v5-global--BorderWidth--md);
}

.rich-input__group--invalid {
  border-bottom-color: var(--pf-v5-global--danger-color--100);
  border-width: var(--pf-v5-global--BorderWidth--sm);
  border-bottom-width: var(--pf-v5-global--BorderWidth--md);
}

.rich-input__text {
  border-width: 0 !important;
}
