.rich-input__rules {
  padding-top: var(--pf-v6-c-helper-text--Gap);
}

.rich-input__group {
  border-color: var(--pf-t--global--border--color--300)
    var(--pf-t--global--border--color--300)
    var(--pf-t--global--color--status--info--100)
    var(--pf-t--global--border--color--300);
  border-width: var(--pf-t--global--border--width--regular);
  border-bottom-width: var(--pf-t--global--border--width--strong);
  border-style: solid;
}

.rich-input__group--success {
  border-bottom-color: var(--pf-t--global--color--status--success--100);
  border-width: var(--pf-t--global--border--width--regular);
  border-bottom-width: var(--pf-t--global--border--width--strong);
}

.rich-input__group--invalid {
  border-bottom-color: var(--pf-t--global--color--status--danger--100);
  border-width: var(--pf-t--global--border--width--regular);
  border-bottom-width: var(--pf-t--global--border--width--strong);
}

.rich-input__text {
  border-width: 0 !important;
}
