.ocs-storage-class__input {
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.ocs-storage-class__form {
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.ocs-storage-class-encryption {
  &__form-body {
    padding: var(--pf-v5-global--spacer--md) !important;
  }

  &__form-body--small-padding {
    padding: var(--pf-v5-global--spacer--md) var(--pf-v5-global--spacer--md)
      var(--pf-v5-global--spacer--md) 0 !important;
  }

  &__card {
    box-sizing: border-box; // Include padding and border in element's total width
    display: flex;
    flex-direction: column; // Ensure contents stack vertically
    margin: var(--pf-v5-global--spacer--md) !important; // To override patternfly card class
    padding: var(--pf-v5-global--spacer--md) !important; // To override patternfly card class
    width: 100%; // Allow card to take full width of its container
  }

  &__pv-title {
    display: inline-block;
  }

  &__pv-title--padding {
    padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--sm)
      var(--pf-v5-global--spacer--sm) 0;
  }

  &__details {
    list-style: none !important; // To override patternfly content class
    margin: var(--pf-v5-global--spacer--md) 0 !important; // To override patternfly content class
    padding: 0 !important; // To override patternfly content class
  }

  &__help-block {
    display: inline !important; //To override bootstrap help-block
  }

  &__form-checkbox .pf-v5-c-check__description {
    margin-bottom: var(--pf-v5-global--spacer--md);
  }

  &__form-radio {
    margin-bottom: var(--pf-v5-global--spacer--md) !important;
  }

  &__form--padding {
    padding-left: var(--pf-v5-global--spacer--md) !important;
  }

  &__form-dropdown--padding {
    padding: 0 0 var(--pf-v5-global--spacer--md) var(--pf-v5-global--spacer--md);
  }
}

.ocs-storage-class__pool--create {
  color: var(--pf-v5-global--primary-color--100);
  display: block;
}
