.odf-cluster-card {
  &__chart-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  &__chart-subtitle {
    fill: var(--pf-v5-global--Color--200);
  }

  &__chart-title {
    fill: var(--pf-v5-global--Color--100);
    font-weight: 600;
  }

  &__storage-link {
    font-weight: 500;
    text-decoration: none;
  }
}
