.odf-storage-client-list__no-client-msg {
  margin-top: 12vh;
}

.odf-storage-client-list__no-client-msg-text {
  color: var(--pf-t--global--text--color--disabled);
  text-align: center;
  width: 43vw;
}

.odf-storage-client-list__no-client-msg-icon {
  width: var(--pf-t--global--icon--size--font--4xl);
  height: var(--pf-t--global--icon--size--font--4xl);
}
