.odf-storage-client-list__no-client-msg {
  margin-top: 12vh;
}

.odf-storage-client-list__no-client-msg-text {
  color: var(--pf-v5-global--disabled-color--100);
  text-align: center;
  width: 43vw;
}

.odf-storage-client-list__no-client-msg-icon {
  width: var(--pf-v5-global--icon--FontSize--xl);
  height: var(--pf-v5-global--icon--FontSize--xl);
}
