.odf-onboarding-modal__text-area {
    border: 1px solid #000;
    margin-top: var(--pf-global--spacer--sm);
    min-height: 50px;
    padding: var(--pf-global--spacer--sm);
    width: 100%;
}

.odf-onboarding-modal__clipboard {
    padding-left: 0;
}
