.odf-topology-sidebar-heading h1 {
  font-size: var(--pf-t--global--font--size--lg);
}

.odf-topology-sidebar-heading {
  padding-right: var(--pf-t--global--spacer--2xl);
}

.odf-topology__sidebar {
  overflow: auto;
}
