.odf-topology-sidebar-heading h1 {
  font-size: var(--pf-v5-global--FontSize--lg);
}

.odf-topology-sidebar-heading {
  padding-right: var(--pf-v5-global--spacer--2xl);
}

.odf-topology__sidebar {
  overflow: auto;
}
