@import '../../../styles/skeleton-screen.scss';

.performanceCard {
  &__header {
    padding: 15px !important;
  }
  &__header > h5 {
    margin-left: 5px !important;
  }
  &__row {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    padding-left: 5px !important;
  }
  &__border {
    border-bottom: 1px solid #d2d2d2 !important;
  }
  &--error {
    display: flex;
    min-height: 30px;
    place-content: center;
    align-items: center;
  }
  &--verticalAlign {
    vertical-align: middle !important;
  }
}

.odf {
  &-performanceCardLoading-body {
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    &__item {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-evenly;
    }
    &-item__element {
      animation: $skeleton-animation;
      background: $skeleton-color;
      min-width: 150px;
      height: 80px;
      margin: 10px 20px;
      display: flex;
      flex-grow: 1;
      &--header {
        height: 25px;
      }
    }
  }
  &-performanceCardError {
    min-height: 150px;
    display: flex;
    flex: 1;
    place-content: center;
    align-items: center;
  }
}
