name: Sanity Checks
on:
  push:
    branches: [master]
  pull_request:
    branches: [master, release*]
    types: [opened, synchronize, reopened, edited]

jobs:
  sanity-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.19.2, 22]
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn build
      - run: yarn build-mco
      - run: yarn build-client
      - run: yarn lint
      - run: yarn format-test
      - run: yarn i18n-test
      - run: yarn test-coverage
      - run: yarn analyze-odf
      - run: yarn analyze-mco
      - run: yarn analyze-client
