.mco-status {
    &__text--divider {
        border-bottom: var(--pf-t--global--border--width--regular) solid
          var(--pf-t--global--border--color--100);
        margin-bottom: var(--pf-t--global--spacer--lg);
    }
}
